<div class="main-container">
  <div class="form-container">
    <app-quotes-form (onPostQuote)="onAddQuote($event)"></app-quotes-form>
    <!--   -->
  </div>

  <div class="quotes-container">
    <div class="quote" *ngFor="let quote of quotes; index as i">
      <div
        class="quote-nested"
        *ngIf="quote === highestQuote; then highlighted; else notHighlighted"
      ></div>

      <ng-template #highlighted>
        <div class="quote-nested" appHighlight>
          <div class="top">
            <div class="left">
              <p>{{ quote.quote }}</p>
              <small>{{ quote.author }}</small>
              <div class="votes">
                <div class="likes" (click)="upVote(i)">
                  <fa-icon [icon]="likes"></fa-icon>
                  <span>{{ quote.upVote }}</span>
                </div>
                <div class="dislikes" (click)="downVote(i)">
                  <fa-icon [icon]="dislikes"></fa-icon>
                  <span>{{ quote.downVote }}</span>
                </div>
              </div>
            </div>
            <div class="right">
              <fa-icon
                [icon]="quote.showDetails ? faArrowUp : faArrowDown"
                (click)="onShowDetails(quote)"
              ></fa-icon>
            </div>
          </div>

          <div class="bottom">
            <app-quotes-details
              *ngIf="quote.showDetails"
              [quote]="quote"
              (onDelete)="deleteQuote($event, i)"
            >
            </app-quotes-details>
          </div>
        </div>
      </ng-template>

      <ng-template #notHighlighted>
        <div class="quote-nested">
          <div class="top">
            <div class="left">
              <p>{{ quote.quote }}</p>
              <small>{{ quote.author }}</small>
              <div class="votes">
                <div class="likes" (click)="upVote(i)">
                  <fa-icon [icon]="likes"></fa-icon>
                  <span>{{ quote.upVote }}</span>
                </div>
                <div class="dislikes" (click)="downVote(i)">
                  <fa-icon [icon]="dislikes"></fa-icon>
                  <span>{{ quote.downVote }}</span>
                </div>
              </div>
            </div>
            <div class="right">
              <fa-icon
                [icon]="quote.showDetails ? faArrowUp : faArrowDown"
                (click)="onShowDetails(quote)"
              ></fa-icon>
            </div>
          </div>

          <div class="bottom">
            <app-quotes-details
              *ngIf="quote.showDetails"
              [quote]="quote"
              (onDelete)="deleteQuote($event, i)"
            >
            </app-quotes-details>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
