<div class="main">
      <h3>iQuote</h3>
  <div class="intro">
         
         <div class="quote">
                 <!-- <p>A winner is a dreamer who never gives up</p>  -->
                 <p> <span class="opening">“</span>
                   {{quote.quote}}
                <span class="closing">”</span>
                </p>
                 <small>{{quote.author}}</small>
         </div>
  </div>

  <div class="quotes-cont container">
   
    <app-quotes></app-quotes>
  
  </div>
  <div class="footer">
       <p>Made by <a href="https://github.com/charity-bit">Charity Nyanchera</a> ©2022</p>
  </div>
</div>

