<div class="main">
      <h3>iQuote</h3>
  <div class="intro">
         
         <div class="quote">
                 <!-- <p>A winner is a dreamer who never gives up</p>  -->
                 <p> <span class="opening">“</span>
                   
                  When a man is denied the right to live the life he believes in, he has no choice but to become an outlaw
                <span class="closing">”</span>
                </p>
                 <small>Nelson Mandela</small>
         </div>
  </div>

  <div class="quotes-cont">
    <app-quotes-form></app-quotes-form>
    <app-quotes></app-quotes>
  
  </div>
  
</div>

