

.main h3{
    color: white;
    text-align: center;
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    font-weight: 700;

}
.main h3::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left:0;
    height: 5px;
    width: 100%;
    background-color: #9D84B7;

}
.quote{
    background-color: rgba(0,0,0,0.7);
    width: 45vw;
    margin: 0 auto;
    color: white;
    padding: 2% 6%;
    transform: translateY(100%);
    position: relative;
    border-radius: 10px;
    
}
.quote p{
    font-family: "Inconsolata",sans-serif;
    font-size: 1.8rem;
    line-height: 2.7rem;
    word-spacing: -0.4rem;
    text-align: justify;
    /* text-justify: distribute-all-lines; */
}
.opening{
    color: #9D84B7;
    font-family: 'Cardo', serif !important;
    font-size: 4rem;
    font-weight: 700;
}
.closing{
    color: #9D84B7;
    font-family: 'Cardo', serif !important;
    font-size: 4rem;
    font-weight: 700;
}

small{
    position: relative;
    left: 30%;
}
small::before{
    content: "";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:-20%;
    height: 3px;
    width: 10px;
    background-color: #9D84B7;
}


