.main h3 {
  color: white;
  text-align: center;
  position: relative;
  margin-top: 2%;
  font-size: 3rem;
  font-weight: 700;
}
.main h3::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  transform: translateY(-50%);
  height: 5px;
  width: 20%;
  background-color: #9d84b7;
}
.intro {
  height: 50vh;
  display: flex;
  align-items: center;
}
.quote {
  background-color: rgba(0, 0, 0, 0.7);
  width: 40vw;
  margin: 0 auto;
  color: white;
  padding: 2% 6%;
  position: relative;
  border-radius: 10px;
  margin-top: 10%;
}
.quote p {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  word-spacing: -0.4rem;
  text-align: justify;
  /* text-justify: distribute-all-lines; */
}
.opening {
  color: #9d84b7;
  font-family: "Cardo", serif !important;
  font-size: 4rem;
  font-weight: 700;
}
.closing {
  color: #9d84b7;
  font-family: "Cardo", serif !important;
  font-size: 4rem;
  font-weight: 700;
}

small {
  position: relative;
  left: 30%;
}
small::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20%;
  height: 3px;
  width: 10px;
  background-color: #9d84b7;
}

@media screen and (max-width: 700px) {
  .quote {
    width: 60vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
    .quote{
        width: 85vw;
        margin: 0 auto;
}
}