<div class="quotes-form">
    <h2>Share a quote</h2>
    <form>
      <div class="name-div cont">
        <label for="uname">Name</label>
        <!-- <p>{{ newQuote.name }}</p>
        <p>{{ newQuote.author }}</p>
        <p>{{ newQuote.quote }}</p> -->
  
        <input
          type="text"
          id="name"
          placeholder="Enter Your Name"
          required
          name="uname"
          #myUsername
        />
      </div>
      <div class="author-div cont">
        <label for="author">Author</label>
        <input
          type="text"
          id="author"
          name="author"
          #myAuthor
          required
          placeholder="Quote By..."
        />
      </div>
      <div class="quote-div cont">
        <label for="quote">Quote</label>
        <textarea
          id="quote"
          name="quote"
          cols="30"
          rows="10"
          #myQuote
          required
          placeholder="Enter Quote"
        ></textarea>
      </div>
      <button
        type="submit"
        (click)="postQuote(myUsername.value, myAuthor.value, myQuote.value)"
      >
        Post
      </button>
    </form>
  </div>
  